<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<connectionStrings>
		<!--<add name="zapisyConnectionString" connectionString="Data Source=MAT-PC\SQLEXPRESS2008;Initial Catalog=zapisy;User ID=sa;Password=master" providerName="System.Data.SqlClient"/>-->
		<!--connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\zapisy.mdf;Integrated Security=True;User Instance=True"-->
	<add name="zapisyConnectionString"
		 connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;initial catalog=zapisy;MultipleActiveResultSets=True"   
		  providerName="System.Data.SqlClient" />
		<!--<add name="zapisyConnectionString"
		 connectionString="Data Source=netfx45lab;Initial Catalog=DB_user1511;User ID=user1511;Password=ribah6va;Integrated Security=False;MultipleActiveResultSets=True"
		  providerName="System.Data.SqlClient" />-->
	</connectionStrings>
	<system.web>
		<compilation debug="true" targetFramework="4.0">
			<assemblies>
				<add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
				<add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
				<add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/></assemblies></compilation>
		<authentication mode="Forms">
			<forms loginUrl="Default.aspx" timeout="2880" name=".ASPXFORMSAUTH"/>
		</authentication>
		<machineKey validationKey="94DBFAD9D25BE8D5BA372631BC7D31F753D10847571E90B860A74A08A28ABFCB1FFD0147275051889B559DF9743D17DB57B3D9F54D76DC279D97F3AAF61DC358" decryptionKey="2316C97DC56518FA727D2DDB1440BC4A5DBD3A9161F65EEB" validation="SHA1"/>
		<!--Custom Membership Provider Configuration-->
		<membership defaultProvider="HDIMembershipProvider" userIsOnlineTimeWindow="15">
			<providers>
				<clear/>
				<add name="HDIMembershipProvider" type="HDI.AspNet.Membership.HDIMembershipProvider" connectionStringName="zapisyConnectionString" enablePasswordRetrieval="true" enablePasswordReset="true" writeExceptionsToEventLog="false"/>
			</providers>
		</membership>
		<roleManager enabled="true" cacheRolesInCookie="true" cookieName=".ASPXROLES" cookieTimeout="15" cookiePath="/" cookieRequireSSL="false" cookieSlidingExpiration="true" cookieProtection="All" defaultProvider="HDIRoleProvider" createPersistentCookie="false" maxCachedResults="25">
			<providers>
				<clear/>
				<add name="HDIRoleProvider" type="HDI.AspNet.Membership.HDIRoleProvider" connectionStringName="zapisyConnectionString"/>
			</providers>
		</roleManager>
		<customErrors mode="RemoteOnly" defaultRedirect="Default.aspx">
			<!--<error statusCode="404" redirect="Default.aspx" />-->
		</customErrors>
		<siteMap defaultProvider="XmlSiteMapProvider" enabled="true">
			<providers>
				<add name="XmlSiteMapProvider" description="Default SiteMap provider." type="System.Web.XmlSiteMapProvider" siteMapFile="Web.sitemap" securityTrimmingEnabled="true"/>
			</providers>
		</siteMap>
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true"/>
	</system.webServer>
</configuration>
